@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  color: #333;
  transition: 0.5s;
  background-color: rgb(235, 229, 229);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.flex {
  display: flex;
}

.align {
  align-items: center;
}

.justify {
  justify-content: center;
}

.grid {
  display: grid;
}

.col {
  flex-direction: column;
}

body,
header,
.menuList,
.menubar,
.events,
.eventCards,
.speakersFull,
.speakerCard,
.speakerCards,
.praises,
.previousSummitCard,
.reference,
.footer,
.footer2 {
  width: 100%;
}

i {
  color: orange;
}

.sociallink {
  margin-left: 1rem;
  font-size: 0.8rem;
}

.menuLinks,
.logoDesktop,
.socialmedialinks,
.headerlogo,
.footer {
  display: none;
}

.sociallink,
.menuList a,
#joinBtn,
.reference li,
.lst {
  color: #fff;
}

header,
.speakerCard,
.aboutP,
.praises,
.footer2 {
  background-color: #fff;
}

header {
  height: 3rem;
  position: fixed;
  z-index: 2;
}

.menu {
  gap: 3px;
  width: 30px;
}

#rotateRight,
#rotateLeft,
#remove {
  background-color: #333;
  z-index: 9;
  margin-left: 70%;
}

.menuList {
  height: 100vh;
  border: #333 solid 1px;
  position: fixed;
  opacity: 80%;
  background-color: #333;
  padding: 4rem;
  top: -100vh;
  transition: 0.5s;
  z-index: 1;
}

.menuList a {
  font-size: 2rem;
}

.menubar {
  height: 4px;
}

main {
  height: 90%;
  margin-bottom: 2rem;
}

/* Welcome Section */
.welcome-section {
  padding: 0 1rem;
  font-size: 20px;
  gap: 2rem;
  padding-bottom: 3rem;
  padding-top: 20%;
  background-image: url('./images/gray-abstract-wireframe-technology-background.jpg');
  background-size: cover;
}

.backgroundh {
  margin-top: -1.8rem;
  font-weight: 900;
  font-size: 30px;
  background-image: url('./images/gettyimages-1236879036-612x612.jpg');
  background-size: cover;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hello {
  font-size: 18px;
  color: rgb(255, 42, 42);
}

#welcomeP {
  border: solid rgb(230, 228, 228) 3px;
  padding: 1rem;
}

.welcomeP {
  font-size: 12px;
  text-align: center;
  margin: 0 0.5rem;
}

.welcomeP2 {
  margin: -2rem 0 0 0;
}

.welcome-section h2 {
  font-size: 25px;
}

.programInfo {
  background-image: url('./images/y-so-serious.png');
  height: 100vh;
  color: aliceblue;
  padding: 2rem 0;
}

.events {
  gap: 0.5rem;
  height: 80vh;
  padding: 2rem 0.5rem;
}

.eventCards,
.speakerCard {
  grid-template-columns: 1fr 2fr;
  gap: 1rem;

  /* check */
  padding: 0 1rem;
}

.eventCards {
  height: 100%;
  padding: 1rem;
  font-size: 11px;
  color: aliceblue;
  background-color: rgb(75, 72, 72);
  gap: 1rem;
}

.eventCards article {
  gap: 0.5rem;
}

input,
button {
  border: none;
}

.eventTitle {
  font-size: 12px;
  font-weight: 600;
  color: rgb(238, 69, 69);
}

#joinBtn {
  width: 75%;
  height: 3rem;
  background-color: rgb(238, 69, 69);
}

.speakers {
  padding: 2rem 0 0 0;
}

.speakersFull {
  margin-top: -1rem;
  padding-bottom: 2rem;
  min-height: 20vh;
  position: absolute;
  right: 50rem;
  transition: 0.5s;
}

.speakerCards {
  gap: 0.5rem;
  min-height: 4rem;
  padding: 2rem 0.5rem 0 0.5rem;
}

.speakerCard {
  height: 9rem;
  font-size: 12px;
  gap: 0.5rem;
}

.pp {
  text-align: center;
}

.speakerImage {
  width: 80%;
  height: 100%;
  background-image: url('./images/gettyimages-1236949754-612x612.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
}

.eventCards:hover {
  border: solid 1px #fff;
}

.lighter {
  color: rgb(204, 201, 201);
}

.speakerInfo {
  gap: 0.5rem;
  color: #333;
  height: 80%;
  margin-bottom: 1rem;
}

.dropdown {
  border: solid rgb(184, 165, 165) 1px;
  width: 90%;
  color: #333;
  background-color: white;
  height: 2.5rem;
  margin: 1rem;
}

.drop {
  color: rgb(238, 69, 69);
  margin-left: 0.2rem;
}

.speakerHeader {
  font-size: 14px;
  font-weight: 600;
}

.speakerInfoRed {
  color: rgb(238, 69, 69);
}

.aboutP {
  padding: 1rem;
  text-align: center;
}

.redline {
  height: 1px;
  width: 12px;
  margin-bottom: 2rem;
  background-color: red;
}

#email {
  margin-top: -2rem;
  font-size: 15px;
  color: #333;
  text-decoration: underline;
}

.about-welcome-section {
  padding: 20% 5%;
}

#abouth {
  background: none;
  color: rgb(255, 42, 42);
}

.praises {
  min-height: 20vh;
}

.abouth {
  margin-left: 2rem;
  text-align: center;
}

h3 {
  height: 10%;
  padding-top: 2rem;
  font-size: 15px;
  margin-bottom: 1rem;
}

.praisesP,
.previousSummitCard p {
  padding: 0 2rem;
  font-size: 12px;
}

#praisesP {
  width: 70%;
  margin-left: 4rem;
}

.logo {
  margin: 10% 0;
  border: solid rgb(199, 198, 198) 1px;
  width: 60%;
  height: 6rem;
  background-image: url('./images/Logopit_1675766263639.png');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.aboutlogo {
  margin-left: 20%;
}

.aboutP1 {
  padding: 1rem 4rem;
  text-align: center;
}

.previousSummitCard {
  min-height: 20vh;
  border-top: solid rgb(199, 198, 198) 1px;
}

.mobilelogo {
  display: block;
}

.reference {
  margin-top: 1rem;
  min-height: 10vh;
  gap: 1rem;
  padding-bottom: 3rem;
}

.reference li {
  width: 15rem;
  height: 10rem;
  opacity: 80%;
  background-size: cover;
}

.fst {
  background: url('./images/gettyimages-1236879036-612x612.jpg');
  height: 4rem;
}

.fst h4,
.fst p,
.lst h4,
.lst p {
  z-index: 3;
}

.fst::before,
.lst::before {
  content: '';
  background-color: red;
  opacity: 40%;
  position: absolute;
  width: 15rem;
  height: 10rem;
}

.lst {
  background-image: url('./images/gettyimages-1236949754-612x612.jpg');
}

.footer {
  background-color: #333;
  height: 30vh;
  color: aliceblue;
  padding: 1rem 0 5rem 0;
}

.partners {
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: -1rem;
  color: rgb(124, 124, 124);
  font-size: 1.3rem;
  padding: 0 2rem;
  gap: 1rem;
  text-align: center;
}

.footer2 {
  height: 8rem;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
}

.sponsors {
  width: 5rem;
  height: 3rem;
}

.final {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  header {
    padding: 0 13%;
    margin-top: 1.5rem;
  }

  .partnerlink {
    border: solid 2px red;
    padding: 4px;
  }

  .socialmedialinks {
    background-color: #333;
    height: 1.5rem;
    z-index: 3;
    display: flex;
    padding-left: 70%;
    width: 100%;
    position: fixed;
    align-items: center;
  }

  .headerlogo {
    display: block;
    margin: 0 auto 0 0;
  }

  .praises {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logodiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .menuLinks,
  .logoDesktop {
    display: block;
  }

  .speakerImage {
    width: 10rem;
  }

  .logo {
    width: 5rem;
    height: 3rem;
  }

  .menuLinks {
    display: flex;
    gap: 4rem;
  }

  .menuLinks a {
    color: #333;
  }

  .welcome-section {
    padding: 10% 0 8% 15%;
  }

  .about-welcome-section {
    padding: 10% 0;
  }

  .welcomeP {
    width: 50%;
  }

  .hello {
    font-size: 1.5rem;
  }

  .welcome-section h1 {
    font-size: 4rem;
    width: 50%;
  }

  .events {
    flex-direction: row;
    padding: 0 10%;
  }

  .eventCards {
    height: 13rem;
    width: auto;
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }

  .eventCards article {
    flex-direction: column;
    gap: 1rem;
  }

  .programInfo {
    height: 30rem;
  }

  .abouth {
    margin-left: 5rem;
  }

  #joinBtn {
    border: none;
    background: none;
    text-decoration: underline;
  }

  #drop {
    display: none;
  }

  .speakers {
    padding: 5% 10%;
    background-color: #fff;
  }

  .speakerCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0.5rem;
  }

  .reference {
    flex-direction: row;
    padding: 0 20%;
    margin-bottom: 5rem;
  }

  .speakersFull {
    position: relative;
    left: 0;
    margin-top: -2rem;
  }

  .partners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    color: rgb(124, 124, 124);
    font-size: 1.3rem;
    padding: 2rem 7rem;
    margin-left: 3rem;
  }

  .footer {
    height: 28rem;
  }

  #partners {
    display: grid;
  }

  .sponsors {
    width: 8rem;
    height: 7rem;
  }

  .footer2 {
    height: 6rem;
    padding: 5% 3% 5% 15%;
    align-items: center;
    display: flex;
    gap: 3rem;
  }

  .aboutlogo {
    margin-left: 0;
    height: 8rem;
    width: 18rem;
  }

  .aboutP1 {
    margin-top: 0.5rem;
  }

  #praisesP {
    width: 100%;
  }
}
